{% extends 'content_base.html.twig' %}

{% block title %}Edit Genre
{% endblock %}

{% block content_body %}
	<h1>Edit Genre</h1>

	{{ include('genre_admin/_form.html.twig', {'button_label': 'Update'}) }}

	<a href="{{ path('genre_index') }}">back to list</a>

	{{ include('genre_admin/_delete_form.html.twig') }}
{% endblock %}
