{% extends 'content_base.html.twig' %}

{% block title %}Genre index
{% endblock %}

{% block content_body %}
	<h1>Genre index</h1>
	<a href="{{ path('genre_new') }}">Create new</a>
	<table class="table">
		<thead>
			<tr>
				<th>Id</th>
				<th>Name</th>
				<th>Slug</th>
				<th>CreatedAt</th>
				<th>UpdatedAt</th>
				<th>actions</th>
			</tr>
		</thead>
		<tbody>
			{% for genre in genres %}
				<tr>
					<td>{{ genre.id }}</td>
					<td>{{ genre.name }}</td>
					<td>{{ genre.slug }}</td>
					<td>{{ genre.createdAt ? genre.createdAt|date('Y-m-d H:i:s') : '' }}</td>
					<td>{{ genre.updatedAt ? genre.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
					<td>
						<a href="{{ path('genre_show', {'id': genre.id}) }}">show</a>
						<a href="{{ path('genre_edit', {'id': genre.id}) }}">edit</a>
					</td>
				</tr>
			{% else %}
				<tr>
					<td colspan="6">no records found</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>


{% endblock %}
