{% extends 'content_base.html.twig' %}

{% block title %}New Genre
{% endblock %}

{% block content_body %}
	<h1>Create new Genre</h1>

	{{ include('genre_admin/_form.html.twig') }}

	<a href="{{ path('genre_index') }}">back to list</a>
{% endblock %}
