{% extends 'base.html.twig' %}

{% block title %}Genre
{% endblock %}

{% block body %}
	<h1>Genre</h1>

	<table class="table">
		<tbody>
			<tr>
				<th>Name</th>
				<td>{{ genre.name }}</td>
			</tr>
			<tr>
				<th>Slug</th>
				<td>{{ genre.slug }}</td>
			</tr>
			<tr>
				<th>CreatedAt</th>
				<td>{{ genre.createdAt ? genre.createdAt|date('Y-m-d H:i:s') : '' }}</td>
			</tr>
			<tr>
				<th>UpdatedAt</th>
				<td>{{ genre.updatedAt ? genre.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
			</tr>
		</tbody>
	</table>

	<a href="{{ path('genre_index') }}">back to list</a>

	<a href="{{ path('genre_edit', {'id': genre.id}) }}">edit</a>

	{{ include('genre_admin/_delete_form.html.twig') }}
{% endblock %}
