{% extends "content_base.html.twig" %}

{% block title %}My Songs
{% endblock %}

{% block content_body %}
	<a href="{{ path('song_new') }}" class="btn btn-primary pull-right">
		Add A Song
		<span class="fa fa-plus-circle"></span>
	</a>
	<h1>My Songs</h1>
	<table class="table">
		<thead>
			<tr>
				<th>Title</th>
				<th>Artist</th>
				<th>Added At</th>
				<th>Published?</th>
				<th>Actions</th>
			</tr>
		</thead>
		<tbody>
			{% for song in songs %}
				<tr>
					<td>
						<a href="{{ path('song_show', {'slug': song.slug }) }}" title="{{ song.title }}">{{ song.title }}</a>
					</td>
					<td>
						<a href="{{ path('song_list_by_artist', {'artist': song.artist }) }}" title="{{ song.artist }}">{{ song.artist }}</a>
					</td>
					<td>{{ song.createdAt|date('Y-m-d') }}</td>
					<td>
						{# <span class="class= fa fa-{{ song.isPublished ? 'check' : 'times' }} "></span> #}
						<div class="custom-control custom-switch">
							{% if song.isPublished %}
								<input type="checkbox" class="custom-control-input" id="customSwitches" checked disabled>
							{% else %}
								<input type="checkbox" class="custom-control-input" id="customSwitches" disabled>
							{% endif %}
							<label class="custom-control-label" for="customSwitches"></label>
						</div>
					</td>
					<td>
						<a class="show-playlist" href="{{ path('song_show', {'slug': song.slug }) }}" title="Show">
							<i class="fa fa-eye"></i>
						</a>
					</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>
	{{ knp_pagination_render(songs) }}
{% endblock %}
