{% extends 'base.html.twig' %}

{% form_theme registrationForm _self %}

{% block form_row %}
	{{ include('partials/_form_row.html.twig') }}
{% endblock %}

{% block _registration_form_agreeTerms_row %}
	<div class="checkbox mb-3">
		{{ form_errors(form) }}
		<label>
			<input type="checkbox" name="{{ full_name }}" required>
			Agree to terms
		</label>
	</div>
{% endblock %}

{% block title %}Register!
{% endblock %}

{% block stylesheets %}
	{{ parent() }}
	<link rel="stylesheet" href="{{ asset('css/login.css')}}">
{% endblock %}

{% block body %}

	{{ form_start(registrationForm, { 'attr': {'class': 'form-signin'} }) }}
	<h1 class="h3 mb-3 font-weight-normal text-center">Register</h1>
	{{ form_row(registrationForm.email, {
                    attr: { 'placeholder': 'example@example.com', 'class': 'form-control', 'autofocus': true, 'label': 'Email', 'type': 'email'}
                }) }}
	{{ form_row(registrationForm.plainPassword, {
                    attr: { placeholder: 'Password', 'class': 'form-control' }
                }) }}
	{{ form_row(registrationForm.agreeTerms) }}
	<button type="submit" class="btn btn-lg btn-primary btn-block">Register</button>
	{{ form_end(registrationForm) }}


{% endblock %}
