{% extends 'base.html.twig' %}

{% block title %}Kara'N'Blind - Accueil
{% endblock %}

{% block body %}

	<div class="container">
		<div class="row">
			<div
				class="col-sm-12 col-md-8">

				<!-- CAROUSEL -->

				<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
					<ol class="carousel-indicators">
						<li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
						<li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
					</ol>
					<div class="carousel-inner">
						<div class="carousel-item active buttons">
							<a href="{{ path('karaoke') }}" class="karaoke_button" title="Le Karaoké">Le karaoké</a>
							{# <a href="{{ path('app_account') }}"> #}
						{# <img class="d-block w-100" src="{{ asset('/images/neon-direction-fleche-perspective_1017-22033.jpg')}}" alt="Karaoke"> #}
							{# </a> #}
						</div>
						<div class="carousel-item">
							<a href="{{ path('blindtest') }}">
								<img class="d-block w-100" src="{{ asset('/images/neon-direction-fleche-perspective_1017-22033.jpg')}}" title="Le Blindtest">
							</a>
						</div>
					</div>
					<a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
						<span class="carousel-control-prev-icon" aria-hidden="true"></span>
						<span class="sr-only">Previous</span>
					</a>
					<a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
						<span class="carousel-control-next-icon" aria-hidden="true"></span>
						<span class="sr-only">Next</span>
					</a>
				</div>

				<!-- Supporting Random Or Suggested Songs -->

				<h2 class="text-center pt-3">Random Songs</h2>
				<div class="album py-3">
					<div class="container">
						<div class="row">
							{% for song in songs %}
								<div class="col-md-4">
									{% include "partials/_card.html.twig" %}
								</div>
							{% endfor %}
						</div>
					</div>
				</div>

			</div>

			<!-- Ten last songs added -->

			<div class="col-sm-12 col-md-4 text-center">
				<div class="advertisement mx-auto mt-1 pb-2 pt-2">
					<img class="advertisement-img" src="{{ asset('images/Photo_1.jpg') }}">
					<p>
						<span class="advertisement-text">New:</span>
						Space Ice Cream!</p>
					<button class="btn btn-info">Buy Now!</button>
				</div>
				<div class="quote-space pb-2 pt-2 px-5">
					<h3 class="text-center pb-3">Last Songs Added</h3>
					{% for lastSong in lastSongs %}
						<a href="{{ path('song_show', {slug: lastSong.slug}) }}" title="{{ lastSong.title }}">{{ lastSong.title }}</a>
						-
						<a href="{{ path('song_list_by_artist', {artist: lastSong.artist}) }}" title="{{ lastSong.artist }}">{{ lastSong.artist }}</a>
						<br>
					{% endfor %}
				</div>
			</div>
		</div>
	</div>

	{# Modal Body #}
	{% block modal_body %}
		{% include "song/modal.html.twig" %}
	{% endblock %}

	{# Flash Message #}
	<div id="status-area"></div>

{% endblock %}

{% block javascripts %}
	{{ parent() }}
	<script src="{{ asset('js/song_list.js') }}"></script>
	<script src="{{ asset('js/_flash_message.js') }}"></script>
{% endblock %}
