<form method="post" action="{{ path('admin_song_delete', {id: song.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
	<input type="hidden" name="_method" value="DELETE">
	<input type="hidden" name="_token" value="{{ csrf_token('delete' ~ song.id) }}">
	<button class="btn btn-danger">Delete</button>
</form>
