{% extends "content_base.html.twig" %}

{% block title %}Songs List
{% endblock %}

{% block content_body %}
	<a href="{{ path('song_new') }}" class="btn btn-primary pull-right">
		Add A Song
		<span class="fa fa-plus-circle"></span>
	</a>
	<h1>Songs List</h1>
	<table class="table">
		<thead>
			<tr>
				<th>Title</th>
				<th>Artist</th>
				<th>Added At</th>
				<th>Published?</th>
				<th>Actions</th>
			</tr>
		</thead>
		<tbody>
			{% for song in songs %}
				<tr>
					<td>{{ song.title }}</td>
					<td>{{ song.artist }}</td>
					<td>{{ song.createdAt|date('Y-m-d') }}</td>
					<td>
						{# <span class="class= fa fa-{{ song.isPublished ? 'check' : 'times' }} "></span> #}
						<input id="togglePublished" type='checkbox' data-path="{{ path('admin_song_toggle', {'id': song.id}) }}" onchange='togglePublishedSong( {{ song.id }}, $(this))' {% if song.isPublished %} checked {% endif %}>
					</td>
					<td>
						<a href="{{ path('song_show', {'slug': song.slug}) }}">Show</a>
						<a href="{{ path('admin_song_edit', {'slug': song.slug}) }}">
							<span class="fa fa-pencil"></span>
						</a>
						<a>{{ include("song_admin/_delete_form.html.twig") }}</a>
					</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>
	{{ knp_pagination_render(songs) }}
{% endblock %}

{% block javascripts %}
	{{ parent() }}
	<script src="{{ asset('js/song_admin_list.js') }}"></script>
{% endblock %}

{# <div class="custom-control custom-switch">
							{% if song.isPublished %}
								<input href="{{ path('admin_song_toggle', {'slug': song.slug}) }}" type="checkbox" class="custom-control-input js-admin-song-toggle" id="customSwitches" checked>
							{% else %}
								<input href="{{ path('admin_song_toggle', {'slug': song.slug}) }}" type="checkbox" class="custom-control-input js-admin-song-toggle" id="customSwitches">
							{% endif %}
							<label class="custom-control-label" for="customSwitches"></label>
						</div> #}
