<div class="card mb-4 shadow-sm">
	<a href="{{ path('song_show', {slug: song.slug}) }}" title="{{ (song.title ~' - '~ song.artist) }}">
		{% if song.imageFileName != null %}<img class="bd-placeholder-img card-img-top" src="{{ asset('images/songs/' ~ song.imageFileName) }}">
		{% else %}
			<img class="bd-placeholder-img card-img-top" src="{{ asset('images/neon-direction-fleche-perspective_1017-22033.jpg') }}">
		{% endif %}
	</a>
	<div class="card-body">
		<p class="m-0 text-center">
			<a class="card-text m-0" href="{{ path('song_show', {'slug': song.slug }) }}" title="{{ song.title }}">
				{{ song.title|u.truncate(25, ' ...') }}
			</a>
		</p>
		<p class="text-center">
			<a class="card-text" href="{{ path('song_list_by_artist', {'artist': song.artist }) }}" title="{{ song.artist }}">
				{{ song.artist|u.truncate(25, ' ...') }}
			</a>
		</p>
		<span class="article-details">
			{% for genre in song.genres|slice(0, 1) %}
				<a class="genre-badge" href="{{ path('song_list_by_genre', {'genre': genre.slug }) }}">
					<span class="badge badge-secondary" title="{{ genre.name }}">{{ genre.name }}</span>
				</a>
			{% endfor %}
			{% if is_granted("ROLE_USER") %}
				<a href="#playlistModal" data-toggle="modal" class="modal-trigger pull-right" data-song-id={{ song.id }} data-path="{{ path('song_playlist_new', {'id': song.id}) }}">
					<i class="fa fa-plus-circle" title="Add To A Playlist"></i>
				</a>
			{% endif %}
		</span>
	</div>
</div>
