{% extends "content_base.html.twig" %}

{% block title %}New Karaoke
{% endblock %}

{% block content_body %}

	<div class="row">
		<div
			class="col-sm-12">

			{# Icons when a visitor or an user wanna see a song #}
			<span class="pull-right">
				{% if name == 'showSong' %}
					{% if is_granted("ROLE_USER") %}
						<span>
							<a href="#playlistModal" data-toggle="modal" class="modal-trigger modal-addsong-button" data-song-id={{ song.id }} data-path="{{ path('song_playlist_new', {'id': song.id}) }}">
								<i class="fa fa-plus-circle" title="Add To A Playlist"></i>
							</a>
						</span>
					{% endif %}
					{% if is_granted("ROLE_ADMIN") %}
						<span>
							<a class="edit-button" href="{{ path('admin_song_edit', {'slug': song.slug }) }}">
								<i class="fa fa-pencil" title="Edit This Song"></i>
							</a>
						</span>
						<span>
							<a class="back-to-list-button" href="{{ path('admin_song_list')}}">
								<i class="fa fa-cogs" title="Back To Admin Songs List"></i>
							</a>
						</span>
					{% endif %}
					<span>
						<a class="back-to-list-button" href="{{ path('song_list')}}">
							<i class="fa fa-undo" title="Back To Songs List"></i>
						</a>
					</span>
				{% endif %}
			</span>

			{# Icons when a visitor or an user launch a karaoke #}
			<span class="pull-right">
				{% if name == 'newKaraokePlaylist' or name == 'newKaraokeGenre' or name == 'newKaraokeRandom' %}
					<a class="back-to-karaoke-list-link" href="{{ path('karaoke') }}">
						<i class="fa fa-list-alt" title="Back to karaoke choice"></i>
					</a>
				{% endif %}
				{% if is_granted("ROLE_USER") %}
					{% if name == 'newKaraokePlaylist' %}
						<a class="change-karaoke-song-button" href="{{ path('karaoke_new_playlist', {'slug': playlist.slug}) }}">
							<i class="fa fa-arrow-right" title="Another Song"></i>
						</a>
					{% endif %}
					{% if name == 'newKaraokeGenre' %}
						<a class="change-karaoke-song-button" href="{{ path('karaoke_new_genre', {'slug': genre.slug}) }}">
							<i class="fa fa-arrow-right" title="Another Song"></i>
						</a>
					{% endif %}
					{% if name == 'newKaraokeRandom' %}
						<a class="change-karaoke-song-button" href="{{ path('karaoke_random') }}">
							<i class="fa fa-arrow-right" title="Another Song"></i>
						</a>
					{% endif %}
				{% else %}
					{% if name == 'newKaraokeRandom' %}
						<a class="change-karaoke-song-button" href="{{ path('karaoke_random') }}">
							<i class="fa fa-arrow-right" title="Another Song"></i>
						</a>
					{% endif %}
				{% endif %}
			</span>

			<div class="show-article-title-container d-inline-block pl-3 pb-2 align-middle">
				<span class="show-article-title">
					<h1>{{ song.title }}
						-
						{{ song.artist }}
					</h1>
				</span>
				<span class="pl-2 article-details">{{ song.publishedAt ? song.publishedAt|date('Y-m-d'): 'unpublished' }}</span>
				<span class="pl-2 article-details">
					<span class="js-like-song-count">{{ song.heartCount }}</span>
					<a href="{{ path('song_toggle_heart', {slug: song.slug}) }}" class="fa fa-heart-o like-article js-like-song"></a>
				</span>
				<span class="pl-2 article-details">
					{% for genre in song.genres %}
						<span class="badge badge-secondary">{{ genre.name }}</span>
					{% endfor %}
				</span>
			</div>

		</div>
	</div>

	<div class="row">
		<div class="col-sm-12">
			<div class="iframe-container">
				{% if embedLink %}
					<iframe width="560" height="315" src={{ embedLink }} frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
				{% else %}
					No video found, sorry!
				{% endif %}
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-12">
			<p class="share-icons mb-5 mt-2">
				<span class="pr-1">Share:</span>
				<i class="pr-1 fa fa-facebook-square"></i>
				<i class="pr-1 fa fa-twitter-square"></i>
				<i class="pr-1 fa fa-reddit-square"></i>
				<i class="pr-1 fa fa-share-alt-square"></i>
			</p>
		</div>
	</div>
	{% block modal_body %}
		{% include "song/modal.html.twig" %}
	{% endblock %}
{% endblock %}
{% block javascripts %}
	{{ parent() }}
	<script src="{{ asset('js/song_show.js') }}"></script>
	<script src="{{ asset('js/song_list.js') }}"></script>
{% endblock %}
