{{ form_start(songForm, { 'attr': {'class': 'form-signin'} }) }}
<h1 class="h3 mb-3 font-weight-normal text-center">{{ title_text }}
	<span>
		{% if is_granted("ROLE_ADMIN") %}
			<a class="back-to-list-button pull-right ml-2" href="{{ path('admin_song_list')}}">
				<i class="fa fa-cogs" title="Back To Admin Songs List"></i>
			</a>
		{% endif %}
		{% if is_granted("ROLE_USER") %}
			<a class="back-to-list-button pull-right" href="{{ path('song_list')}}">
				<i class="fa fa-undo" title="Back To Songs List"></i>
			</a>
		{% endif %}
	</span>
</h1>

{{ form_row(songForm.title, { 'attr': {'class': 'form-control', 'autofocus': true} }) }}
{{ form_row(songForm.artist, { 'attr': {'class': 'form-control'} }) }}
{{ form_row(songForm.videoLink, { 'attr': {'class': 'form-control'} }) }}

{% if song.imageFileName is defined %}
	Image uploaded:
	{{ song.imageFileName ? song.imageFileName : 'None' }}
{% endif %}
<br>
{{ form_row(songForm.imageFile, { 'attr': {'class': 'form-control'} }) }}

{% if song.audioFileName is defined %}
	File uploaded:
	{{ song.audioFileName ? song.audioFileName : 'None' }}
{% endif %}
<br>
{{ form_row(songForm.audioFile, { 'attr': {'class': 'form-control'} }) }}
{% if song.audioFileName is defined and is_granted("ROLE_ADMIN") %}
	<button class="btn">
		<a href="{{ path('mp3_cut_song', {'slug': song.slug }) }}">Cut Actual File</a>
	</button>
	<br>
{% endif %}
{{ form_row(songForm.genres) }}
<div class="text-center">
	<button type="submit" class="btn btn-primary">{{ button_text }}</button>
</div>
{{ form_end(songForm) }}
