{{ form_start(form, {
    'attr': {
        'id': 'js-playlist-song-form',
        'action': path('song_playlist_new', {'id': song.id})
        }}) }}

{% for playlist in form.playlists %}
	{{ form_label(playlist) }}
	{{ form_widget(playlist, {
			'attr': {
				'class': 'js-playlist-song-input' }}) }}
{% endfor %}

{{ form_end(form) }}
