{% extends "content_base.html.twig" %}

{% block title %}Songs List
{% endblock %}

{% block content_body %}

	<h1>Songs List
		{% if is_granted("ROLE_USER") %}
			<a href="{{ path('song_new') }}" class="btn btn-primary pull-right" title="Add A Song">
				Add a song
				<span class="fa fa-plus-circle"></span>
			</a>
		{% endif %}
	</h1>

	<div class="album py-5">
		<div class="container">
			<div class="row">
				{% for song in songs %}
					<div class="col-md-3">
						{% include "partials/_card.html.twig" %}
					</div>
				{% endfor %}
			</div>
		</div>
		{{ knp_pagination_render(songs) }}
	</div>

	{% block modal_body %}
		{% include "song/modal.html.twig" %}
	{% endblock %}

{% endblock %}

{% block javascripts %}
	{{ parent() }}
	<script src="{{ asset('js/song_list.js') }}"></script>
{% endblock %}
