{% extends "base.html.twig" %}

{% form_theme songForm _self %}

{% block form_row %}
	{{ include('partials/_form_row.html.twig') }}
{% endblock %}

{% block title %}Add A Song
{% endblock %}

{% block stylesheets %}
	{{ parent() }}
	<link rel="stylesheet" href="{{ asset('css/login.css')}}">
{% endblock %}

{% block body %}
	{{ include('partials/_song_form.html.twig', {
		button_text: 'Add!',
		title_text: 'Add A Song!',
	}) }}
{% endblock %}
