<form method="post" action="{{ path('playlist_delete', {'id': playlist.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
	<input type="hidden" name="_method" value="DELETE">
	<input type="hidden" name="_token" value="{{ csrf_token('delete' ~ playlist.id) }}">
	<button class="btn delete-playlist p-0">
		<i class="fa fa-trash" title="Delete Playlist"></i>
	</button>
</form>
