{{ form_start(form, { 'attr': {'class': 'form-signin'} }) }}
<h1 class="h3 mb-3 font-weight-normal text-center">{{ title_text }}
	<span>
		<a href="{{ path('playlist_index') }}" class="pull-right">
			<i class="fa fa-undo" title="Back To Playlists List"></i>
		</a>
	</span>
</h1>

{{ form_row(form.name, { 'attr': {'class': 'form-control', 'autofocus': true} }) }}
{{ form_row(form.content, { 'attr': {'class': 'form-control'} }) }}

{% if playlist.imageFileName is not null %}
	Image uploaded:
	{{ playlist.imageFileName ? playlist.imageFileName : 'None' }}
{% endif %}
<br>
{{ form_row(form.imageFile, { 'attr': {'class': 'form-control'} }) }}
<div class="text-center">
	<button type=" submit" class=" btn btn-primary mt-2" title=" {{ button_text }} ">{{ button_text }}</button>
</div>
{{ form_end(form) }}
