{% extends 'content_base.html.twig' %}

{% block title %}Playlist index
{% endblock %}

{% block content_body %}
	<h1>Playlist index
		<a class="btn btn-primary pull-right" href="{{ path('playlist_new') }}" title="Add A Playlist">Add A Playlist
			<span class="fa fa-plus-circle"></span>
		</a>
	</h1>

	<table class="table">
		<thead>
			<tr>
				<th>Name</th>
				<th>ImageFileName</th>
				<th>Informations</th>
				{# <th>CreatedAt</th> #}
				{# <th>UpdatedAt</th> #}
				<th>Actions</th>
			</tr>
		</thead>
		<tbody>
			{% for playlist in playlists %}
				<tr>
					<td>
						<a href="{{ path('playlist_show', { 'id': playlist.id }) }}">{{ playlist.name }}</a>
					</td>
					<td>
						{% if playlist.imageFileName %}<img class="bd-placeholder-img article-author-img zoom" src="{{ asset('images/playlist/' ~ playlist.imageFileName) }}">
						{% else %}
							No picture.
						{% endif %}
					</td>
					<td>{{ playlist.content }}</td>
					{# <td>{{ playlist.createdAt ? playlist.createdAt|date('Y-m-d H:i:s') : '' }}</td> #}
					{# <td>{{ playlist.updatedAt ? playlist.updatedAt|date('Y-m-d H:i:s') : '' }}</td> #}
					<td>
						<div class="d-flex">
							<a class="show-playlist pr-2" href="{{ path('playlist_show', {'id': playlist.id}) }}" title="Show">
								<i class="fa fa-eye"></i>
							</a>
							<a class="edit-playlist pr-2" href="{{ path('playlist_edit', {'id': playlist.id}) }}" title="Edit">
								<i class="fa fa-pencil"></i>
							</a>
							<span>
								{{ include("playlist/_delete_form.html.twig") }}
							</span>
						</div>
					</td>
				</tr>
			</tbody>
		{% else %}
			<tr>
				<td colspan="7">No Records Found</td>
			</tr>
		{% endfor %}
	</table>
	{{ knp_pagination_render(playlists) }}
{% endblock %}
