{% extends 'base.html.twig' %}

{% form_theme form _self %}

{% block form_row %}
	{{ include('partials/_form_row.html.twig') }}
{% endblock %}

{% block title %}New Playlist
{% endblock %}

{% block stylesheets %}
	{{ parent() }}
	<link rel="stylesheet" href="{{ asset('css/login.css')}}">
{% endblock %}

{% block body %}
	{{ include('playlist/_form.html.twig', {
		button_text: 'Add!',
		title_text: 'Add A Playlist!',
	}) }}
{% endblock %}
