{% extends 'content_base.html.twig' %}

{% block title %}
	{{ playlist.name }}
{% endblock %}

{% block content_body %}
	<h1>{{ playlist.name }}
		-
		{{ count }}
		songs

		<a href="{{ path('playlist_index') }}" class="back-to-list-button pull-right pl-2">
			<i class="fa fa-undo" title="Back To Playlists List"></i>
		</a>

		<a href="{{ path('playlist_edit', {'id': playlist.id}) }}" class="edit-button pull-right">
			<i class="fa fa-pencil" title="Edit Playlist"></i>
		</a>

	</h1>

	<table class="table">
		<tbody>
			<tr>
				<th>Name</th>
				<th>Artist</th>
				<th>Genre(s)</th>
				<th>Image</th>
				<th>Actions</th>
			</tr>

			{% for song in playlistSongs %}
				<tr>
					<td>
						<a href="{{ path('song_show', {'slug': song.slug }) }}" title="{{ song.title }}">{{ song.title }}</a>
					</td>
					<td>
						{# Lien vers toutes les chansons du groupe, ajout méthode dans controller #}
						<a href="{{ path('song_list_by_artist', {'artist': song.artist }) }}" title="{{ song.artist }}">{{ song.artist }}</a>
					</td>
					<td>
						{# Lien vers toutes les chansons du genre cliqué #}
						{% for genre in song.genres %}
							<a class="genre-badge" href="{{ path('song_list_by_genre', {'genre': genre.slug }) }}">
								<span class="badge badge-secondary" title="{{ genre.name }}">{{ genre.name }}</span>
							</a>
						{% endfor %}
					</td>
					<td>
						{% if song.imageFileName %}<img class="bd-placeholder-img article-author-img zoom" src="{{ asset('images/songs/' ~ song.imageFileName) }}" title="{{ song.title}} - {{ song.artist }}">
						{% else %}
							No picture.
						{% endif %}
					</td>
					<td>
						<a class="show-playlist" href="{{ path('song_show', {'slug': song.slug }) }}" title="Show">
							<i class="fa fa-eye"></i>
						</a>
						<a class="delete-playlist js-remove-song-from-playlist pl-2" href="#" data-url="{{ path('remove_song_from_playlist', {'playlist_id': playlist.id, 'song_id': song.id }) }}" title="Delete">
							<i class="fa fa-trash"></i>
						</a>
					</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>
	{{ knp_pagination_render(playlistSongs) }}
{% endblock %}

{% block javascripts %}
	{{ parent() }}
	<script src="{{ asset('js/playlist_show.js') }}"></script>
{% endblock %}
