{% extends "base.html.twig" %}

{% block title %}The Party
{% endblock %}

{% block stylesheets %}
	{{ parent() }}
	<link rel="stylesheet" href="{{ asset('css/blindtest_player.css')}}">
{% endblock %}

{% block body %}
	{% for song in songs %}
		{% set song = {
		name: song.title,
		artist: song.artist,
		url: '/audio/'~ song.audioFileName,
		cover_art_url: '/images/songs/'~ song.imageFileName
	} %}
		<div data-entry-info='{{ song|json_encode }}'></div>
	{% endfor %}

	<!-- Blue Playlist Container -->
	<div
		id="blue-playlist-container">

		<!-- Amplitude Player -->
		<div
			id="amplitude-player">

			<!-- Left Side Player -->
			<div id="amplitude-left">
				<img data-amplitude-song-info="cover_art_url" class="album-art"/>
				<div class="amplitude-visualization" id="large-visualization"></div>
				<div id="player-left-bottom">
					<div id="time-container">
						<span class="current-time">
							<span class="amplitude-current-minutes"></span>:<span class="amplitude-current-seconds"></span>
						</span>
						<div id="progress-container">
							<div class="amplitude-wave-form"></div>
							<input type="range" class="amplitude-song-slider"/>
							<progress id="song-played-progress" class="amplitude-song-played-progress"></progress>
						<progress id="song-buffered-progress" class="amplitude-buffered-progress" value="0"></progress>
				</div>
				<span class="duration">
					<span class="amplitude-duration-minutes"></span>:<span class="amplitude-duration-seconds"></span>
				</span>
			</div>

			<div id="control-container">
				<div id="central-control-container">
					<div id="central-controls">
						<div class="amplitude-play-pause" id="play-pause"></div>
					</div>
				</div>

				<div id="volume-container">
					<div class="volume-controls">
						<div class="amplitude-mute amplitude-not-muted"></div>
						<input type="range" class="amplitude-volume-slider"/>
						<div class="ms-range-fix"></div>
					</div>
					{# <div class="amplitude-shuffle amplitude-shuffle-off" id="shuffle-right"></div> #}
				</div>
			</div>

			<div id="meta-container">
				<span data-amplitude-song-info="name" class="song-name"></span>

				<div class="song-artist-album">
					<span data-amplitude-song-info="artist"></span>
					<span data-amplitude-song-info="album"></span>
				</div>
			</div>
		</div>
	</div>
	<!-- End Left Side Player -->

	<!-- Right Side Player -->
	<div id="amplitude-right">
		{% for song in songs %}
			<div class="song amplitude-song-container amplitude-play-pause" data-amplitude-song-index={{ loop.index0 }}>
				<div class="song-now-playing-icon-container">
					<div class="play-button-container"></div>
					<img class="now-playing" src="https://521dimensions.com/img/open-source/amplitudejs/blue-player/now-playing.svg"/>
				</div>
				<div class="bg-primary" id="playing-song">
					<p>Playing Song</p>
				</div>
				<div class="bg-primary" id="song-to-come">
					<p>Song To Come</p>
				</div>
				<div class="song-meta-data" id="finished-song">
					<span class="song-title">{{ song.title }}</span>
					<span class="song-artist">{{ song.artist }}</span>
				</div>
			</div>
		{% endfor %}

	</div>

	<!-- End Right Side Player -->

</div>

<!-- End Amplitdue Player -->{% endblock %}{% block javascripts %}
{{parent()}}
<script src="{{ asset('js/amplitude.js') }}"></script>
<script src="{{ asset('js/michaelbromley.js') }}"></script>
<script type="text/javascript" src="{{ asset('js/blindtest_player.js') }}"></script>{% endblock %}
