{% extends 'base.html.twig' %}

{% block title %}THE Blindtest
{% endblock %}

{% block body %}
	<div class="container">
		<h1 class="text-center mb-5">Blindtest Time</h1>
		<div class="row justify-content-center">
			{% if is_granted("ROLE_USER") %}
				<!-- Playlist Selection -->

				<div class="col-sm-12 col-md-5 text-center" id="block-selection-playlist">
					<h2 class="mb-3">Choose one of your playlist</h2>
					<select class="js-selection" onchange="hideBlindtestElement('block-selection-genre', 'or-block', this)">
						<option value="{{ path('blindtest_random') }}">None</option>
						{% for playlist in userPlaylists %}
							<option id="selected-playlist" value="{{ path('blindtest_new_playlist') }}">{{ playlist.name }}</option>
						{% endfor %}
					</select>
				</div>

				<h2 class="col-sm-12 col-md-2 text-center mt-3" id="or-block">Or</h2>

				{# Genre Selection #}

				<div class="col-sm-12 col-md-5 text-center" id="block-selection-genre">
					<h2 class="mb-3">A Random Selection In A Genre</h2>
					<select class="js-selection" onchange="hideBlindtestElement('block-selection-playlist', 'or-block',this)">
						<option value="{{ path('blindtest_random') }}">None</option>
						{% for genre in genres %}
							<option id="selected-genre" value="{{ path('blindtest_new_genre') }}">{{ genre.name }}</option>
						{% endfor %}
					</select>
				</div>
			</div>
		</div>


		<div class="">
			<p class="text-center mt-5">No selection, random songs!</p>
		</div>
	{% endif %}

	<!-- Launch Karaoke -->

	<div class="py-3">
		<div class="container">
			<div class="row">
				<div class="col text-center buttons">
					{% if is_granted("ROLE_USER") %}
						<a href="" class="blindtest_button text-center" id="blindtest_launcher_button">Launch</a>
					{% else %}
						<a href="{{ path('blindtest_random') }}" class="blindtest_button text-center" id="blindtest_launcher_button">Launch</a>
					{% endif %}
				</div>
			</div>
		</div>
	</div>

{% endblock %}
{% block javascripts %}
	{{ parent() }}
	<script src="{{ asset('js/karaoke_blindtest_index.js') }}"></script>
{% endblock %}
