<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>
			{% block title %}Welcome!
			{% endblock %}
		</title>
		{% block stylesheets %}
			<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
			<link rel="stylesheet" href="{{ asset('/css/app.css') }}">
			<link rel="stylesheet" href="{{ asset('/css/font-awesome.css') }}">
		{% endblock %}
	</head>
	<body>
		<nav class="navbar navbar-expand-lg navbar-dark navbar-bg mb-3">

			<a style="margin-left: 50px;" class="navbar-brand space-brand" href="{{ path('app_home') }}">Kara'n'Blind</a>

			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarNavDropdown">

				<ul class="navbar-nav mr-auto">
					<li class="nav-item">
						<a style="color: #fff;" class="nav-link" href="{{ path('song_list')}}">Songs</a>
					</li>

					<li class="nav-item">
						<a style="color: #fff;" class="nav-link" href="{{ path('karaoke') }}">The Karaoke</a>
					</li>

					<li class="nav-item">
						<a style="color: #fff;" class="nav-link" href="{{ path('blindtest') }}">The Blindtest</a>
					</li>
				</ul>

				{# <form class="form-inline my-2 my-lg-0"> #}
				{# <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" name="q"> #}
				{# <button class="btn btn-info my-2 my-sm-0" type="submit">Search</button> #}
				{# </form> #}

					<ul class="navbar-nav ml-auto"> {% if is_granted('ROLE_USER') %}
						<li class="nav-item dropdown" style="margin-right: 75px;">
							<a class="nav-link dropdown-toggle" href="" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
								<img class="nav-profile-img rounded-circle" src={{ asset("/images/Photo_1.jpg")}}>
							</a>
							<div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
								<a class="dropdown-item" href="{{ path('app_account') }}">Profile</a>
								<a class="dropdown-item" href="{{ path('user_song_list') }}">My Songs</a>
								<a class="dropdown-item" href="{{ path('playlist_index') }}">My Playlists</a>
								{% if is_granted("ROLE_ADMIN") %}
									<a class="dropdown-item" href="{{ path('admin_song_list') }}">Dashboard</a>
								{% endif %}
								<a class="dropdown-item" href="{{ path('app_logout') }}">Logout</a>
							</div>
						</li>
					{% else %}
						<li class="nav-item">
							<a style="color: #fff;" class="nav-link" href="{{ path('app_login') }}">Login</a>
						</li>
						<li>
							<a style="color: #fff;" class="nav-link" href="{{ path('app_register') }}">Register</a>
						</li>
					{% endif %}
				</ul>
			</div>
		</nav>
		{% for message in app.flashes('success') %}
			<div class="alert alert-success">
				{{ message }}
			</div>
		{% endfor %}

		{% block body %}{% endblock %}

		<footer class="footer">
			<div class="container text-center">
				<span class="text-muted">Made with
					<i class="fa fa-heart" style="color: red;"></i>
					by Me.
				</span>
			</div>
		</footer>
		{% block javascripts %}
			<script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>
			<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
			<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
		{% endblock %}
	</body>
</html>
